.abcd{
    width: 100%;
}
.allbgclr{
    background-color: rgb(126, 123, 123);
    height: 100%;
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
}

.UpdateForm{
    display: grid;
    justify-content: left;
    height: 5rem;
    align-items: center;
    padding-top: 20px;  
 }
